 @import "tailwindcss";

 @theme {
   --color-primary: #2563EB;
   --color-primary-dark: #1E3A8A;
   --color-primary-light: #93C5FD;
 }

 @keyframes marquee {
   0% {
     transform: translateX(0);
   }

   100% {
     transform: translateX(-50%);
   }
 }

 .animate-marquee {
   animation: marquee 20s linear infinite;
 }

 html {
   scroll-behavior: smooth;
 }


 @keyframes spin-slow {
   from {
     transform: rotate(0deg);
   }

   to {
     transform: rotate(360deg);
   }
 }

 .animate-spin-slow {
   animation: spin-slow 6s linear infinite;
 }